header {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
}

.calendar {
    margin: 0.5rem;
    background-color: rgba(64, 16, 106, 1);
    box-shadow: 0 0 1rem rgba(#FF7179, 0.5);
    border-radius: 1rem;
}

.calendar header select {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .15);
    border: 0.1rem solid rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    backdrop-filter: blur(20px);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.calendar option {
    color: black;
}

.calendar header button {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .15);
    border: 0.1rem solid rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    backdrop-filter: blur(20px);
    color: #FF7179;
    font-size: 1.2rem;
}

.calendar header button,
.calendar header select {
    margin: 0 4px;
}

.calendar table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    margin: auto;
}

.calendar th {
    vertical-align: middle;
    text-align: center;
    height: 3rem;
}

.calendar .day {
    padding: 0.2rem 0.2rem;
    vertical-align: middle;
    text-align: center;
    border: 2px solid transparent;
}

.calendar .day:hover {
    background-color: #eaeaea;
    border-radius: 1rem;
    color: black;
    cursor: pointer;
}

.calendar .day.selected {
    border: 2px solid #FF7179;
    border-radius: 1rem;
}

.calendar .day.today {
    background-color: #FF7179;
    border-radius: 1rem;
    color: white;
}

.calendar .day.today:hover {
    background-color: #FF7179;
}

.calendar .day.today.selected {
    border: 2px solid lightgray;
}